[submodule "dependencies/CASE"]
	path = dependencies/CASE
	url = https://github.com/casework/CASE.git
[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
[submodule "dependencies/UCO-Utility-Pre-0.7.0-Validator"]
	path = dependencies/UCO-Utility-Pre-0.7.0-Validator
	url = https://github.com/ucoProject/UCO-Utility-Pre-0.7.0-Validator.git
